#cinemascontent {
    display: flex;              
    flex-wrap: wrap;
    justify-content: center; 
}

.cinemalocation img {
    height: 280px;
    width: 250px;
    object-fit: cover;
    margin: 20px 50px;
}

.cinemalocation p {
    color: white;
    text-align: center;
    font-weight: 200;
    margin: 20px 50px;
}

.cinematitle {
        color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: -10px 50px 15px 50px;
}