#confirmationcontent {
    color: white;
    flex-grow: 1;
    min-width: 600px;
    min-height: 400px;
    border-style: solid;
    border-color: white;
}

.confirmationtable {
  border-collapse: separate;
    border-spacing: 0 10px;
}

.confirmationtable th {
  font-size: 20px;
}

.confirmationtable td {
  padding: 20px 0px 0px 10px;
  }

#confirmationbutt {
    height: 50px;
    width: 265px;
    margin: 50px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: white;
  }
