#confirmationcontent {
    flex-grow: 1;
    min-width: 600px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.733);
}

.confirmationtable td {
    padding: 5px 0px 5px 10px;
    border-collapse: separate;
  }

#confirmationbutt {
    height: 50px;
    width: 265px;
    margin: 50px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: white;
  }
