#seatsbookingcontent {
    margin-top: 200px;
   min-width: 1000px;
     display: flex;
     justify-content: space-around;
   flex-direction: row;
 }
 
 #seatsselection {
     flex-grow: 1;
 }
 
 
 #basketcontent {
     color: white;
     flex-grow:1;
     min-width: 500px;
     margin: 10px 100px 0px 100px;
     border-style: solid;
     border-color: white;
 }

 .baskettable {
  margin-left: auto;
  margin-right: auto;
 }

 .baskettable th {
  font-size: 30px;
 }

 .baskettable td {
  text-align: center;
  padding: 15px 0px 15px 10px;
  border-collapse: separate;
}


 #seatslayout {
    /* perspective: 300px; */
    margin-bottom: 30px;
    min-width: 500px;
    display: flex;
    flex-direction: column;              
    align-items: center; 
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 30%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.row {
    display: flex;
}

.seat {
    background-color: #fff;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* .seat input{
  display: none;
} */

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .seat.selected {
    background-color: #6feaf6;
  }

  .seat.occupied {
    background-color: #444451;
  }

  .seat.occupied:hover {
    background-color: #444451;
    cursor: not-allowed;
  }


  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .showcase.seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }

  .legend {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seatlabel {
    font-size: 13px;
    font-weight: 100px;
  }

  #bookingbuttons {
    display: flex;
  align-items: center;
}

.bookingbutt {
    height: 50px;
    width: 265px;
    margin: 50px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: white;
}