#wrapper {
    width: 80%;
    margin: auto;
    min-width: 1000px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;   
    align-items: center;
  }

* {
    font-family: 'Open Sans', sans-serif;
}

#homepageheader {
    height: 400px;     
    display: flex;              
    flex-direction: column;          
    justify-content: end;   
    
}

#homelogo {
    height: 250px;
}

header {
    height: 200px;
    width: 80%;   
    min-width: 1000px;  
    display: flex;              
    flex-direction: row;          
    justify-content: space-between;   
    position: fixed;
    top: 0;
    z-index: 100;
}

#navilogo {
    height: 180px;
}

#navibutts {
    width: 500px;
    display: flex;              
    flex-direction: row;          
    justify-content: space-between; 
    padding: 30px;
}

#navibutts {
    height: 50px;
    width: 265px;
    margin: 10px;
    font-weight: 300;
    font-size: 20px;
    color: red;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: red;
}

#homebuttons {
    display: flex;
  align-items: center;
}

.mainbutt {
    height: 50px;
    width: 265px;
    margin: 10px;
    font-weight: 300;
    font-size: 20px;
    color: red;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: red;
}

#filters {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.filter {
    height: 30px;
    width: 180px;
    margin: 10px;
    text-align: center;
    font-weight: 200;
    color: white;
    background-color: transparent;
}

option {
    background: rgba(0, 0, 0, 0.5);
}

.filterbutt {
    height: 30px;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-weight: 400;
    color: white;
    background-color: rgb(58, 58, 58);
}

#content {
    margin-top: 200px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;   
    align-items: center;

}

#homecontent {
    display: flex;              
    flex-direction: column;     
    justify-content: center;   
    align-items: center;
}

#homecontent img {
    width: 100%;
    margin: 20px;
}

#nowshowingcontent {
    display: flex;              
    flex-wrap: wrap;
    justify-content: center; 
}

#nowshowingcontent img {
    height: 300px;
    margin: 20px 100px;
}

footer {
    color: red;
    text-align: center;
}