#wrapper {
    width: 80%;
    margin: auto;
    min-width: 1000px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;   
    align-items: center;
}


* {
    font-family: 'Open Sans', sans-serif;
}

#homepageheader {
    height: 400px;     
    display: flex;              
    flex-direction: column;          
    justify-content: end;   
    
}

#homelogo {
    height: 250px;
}

header {
    height: 200px;
    width: 80%;   
    min-width: 1000px;  
    display: flex;              
    flex-direction: row;          
    justify-content: space-between;   
    position: fixed;
    top: 0;
    z-index: 100;
}

#navilogo {
    height: 180px;
}

#navibutts {
    width: 500px;
    display: flex;              
    flex-direction: row;          
    justify-content: space-between; 
    padding: 35px;
}

.navibutt {
    height: 50px;
    width: 265px;
    margin: 10px;
    font-weight: 300;
    font-size: 20px;
    color: red;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: red;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#homebuttons {
    display: flex;
  align-items: center;
}

.mainbutt {
    height: 50px;
    width: 265px;
    margin: 10px;
    font-weight: 300;
    font-size: 20px;
    color: red;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: red;
}

#filters {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.filter {
    height: 30px;
    width: 180px;
    margin: 10px;
    text-align: center;
    font-weight: 200;
    color: white;
    background-color: transparent;
}

option {
    background: rgba(0, 0, 0, 0.5);
}

.filterbutt {
    height: 30px;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-weight: 400;
    color: white;
    background-color: rgb(58, 58, 58);
}

#title {
    color: white;
    letter-spacing: 3px;
}

#smalltitle{
    color: white;
    letter-spacing: 3px;
    border: 2px solid white;
    display: inline-block;
    padding: 15px;
    font-size: 10px; 
}
#selected{
    background: white;
    letter-spacing: 3px;
    border: 2px solid white;
    display: inline-block;
    padding: 15px;
    font-size: 10px;
}

#content {
    margin-top: 200px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;   
    align-items: center;

}

#homecontent {
    display: flex;              
    flex-direction: column;     
    justify-content: center;   
    align-items: center;
}

#homecontent img {
    width: 100%;
    margin: 20px;
}

#nowshowingcontent {
    display: flex;              
    flex-wrap: wrap;
    justify-content: center; 
}

#nowshowingcontent img {
    height: 300px;
    width: 220px;
    object-fit: cover;
    margin: 20px 100px;
}

#cinemascontent {
    display: flex;              
    flex-wrap: wrap;
    justify-content: center; 
}

#showtimecontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 1000px;
}

#moviedetailscontent {
  min-width: 1000px;
    display: flex;
    justify-content: space-around;
  flex-direction: row;
}

#movieposter {
    flex-grow: 1;
}

#moviedetailbox {
    flex-grow:1;
    min-width: 500px;
    margin: 30px 0px 40px 50px;
    padding: 10px;
}

.cinemalocation img {
    height: 280px;
    width: 250px;
    object-fit: cover;
    margin: 20px 50px;
}

.cinemalocation p {
    color: white;
    text-align: center;
    font-weight: 200;
    margin: 20px 50px;
}

footer {
    color: red;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

td {
    width: 150px;
    height: 25px;
    text-align: center;
    border: 0px solid white;
    padding: 3px;
}
  
#progress {
    border-collapse: separate;
    /* border-spacing: 15px 15px; */
    
}

.showtimerow {
    color: white;
    margin: 30px;
    border-style: none none solid none;
    border-color: white;
}

a:hover {
    color: red;
}

.detaillabels {
    color: red;
    font-weight: 900;
    font-style: oblique;
    margin-bottom: -15px;
}

#detailtitle {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0px;
}

#detailcast{
    color: white;
}

#detaildirector{
    color: white;
}

#detailsynopsis{
    color: white;
}

#showtimebutt {
    height: 50px;
    width: 265px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-radius: 0.1px;
    border-color: white;
}
